.heading{
    display: flex;
    justify-content: center;
}


.list{
    display: flex;
    flex-wrap: wrap
    
}

.grid-item{
    padding: 20px;
}

.link{
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 20px;
}